alembic==0.9.9
pylint==1.9.1
flask==1.0.2
Flask-Script==2.0.6
coverage==4.5.1
sqlalchemy==1.2.8
blueprints==2.3.0.2
Flask-SQLAlchemy==2.3.2
flask-sqlacodegen==1.1.6.1
Flask-Migrate==2.1.1
uwsgi==2.0.17
psycopg2==2.6.1
Werkzeug==0.14.1
